<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Restablecer Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-input id="ion_user_input" label="Usuario" [(ngModel)]="usuario" label-placement="floating" fill="solid"helperText="Usuario máximo 8 caracteres" 
  [counter]="true" [maxlength]="8" [minlength]="3" placeholder="Ingrese Usuario"></ion-input>
  <ion-button>Restablecer Contraseña</ion-button>
</ion-content>
