<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="car-container">

      <ion-title class="right-align-title">
        <h1>TeLlevo?APP</h1>
      </ion-title>
      <div class="car"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TeLlevo?APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
    <h1>Bienvenido!</h1>
    <br>
  </div>
  <h6> Bienvenid@: {{usuario}}</h6>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por @CleanerCode</ion-title>
  </ion-toolbar>
</ion-footer>